<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/angular.min.js.map"></script>
</body>
</html>
