<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title><%= blogTitle %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
  <body>
    <div id="header" style="padding-left: 135px;">
	  <div id="head"><h3><%= blogTitle %></h3></div>
      <div id="nav">
      	<a href="/main/index">home</a>
      	<a href="/article/creation">create</a>
      	</div>
   </div>
